@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,900&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

:root {
    --green: #85BAA1;
    --pink: #D0A3BF;
}

.bg-green {
    background-color: var(--green);
}

.bg-pink {
    background-color: var(--pink);
}

.navbar {
}

.box {
     background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}

.mt-10 {
    margin-top: 200px;
}

.mt-8 {
    margin-top: 140px;
@media only screen and (min-width: 1200px)

@media only screen and (min-width: 1200px)}

.px-sides {
    padding: 0px 200px 0px 130px;
}

.btn-primary {
    background-color: rgba(0,0,0,0);
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 0;
    border: 2px white solid;
}

.btn-primary:hover {
    background-color: white;
    border: 2px solid white;
    color: black;
}

.btn-primary:focus {
    background-color: var(--pink);
}

.font-primary {
    font-family: 'Mulish', sans-serif;
    font-size: 50px;
}

.font-secondary {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

.shapes-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
}

@media only screen and (min-width: 1200px) {
.top {
    height: 90vh;
}
